body {
	font-family: 'Ubuntu', sans-serif;
}

* {
	line-height: 1.1em;
	font-family: 'Ubuntu', sans-serif;
}

.vspacet {
	margin-top: 3vh;
}

.vspaceb {
	margin-bottom: 3vh;
}

#displayid {
	width: 100%;
	font-size: 3vw;
	text-align: center;
	background-color: #FFEAF2;
	border-radius: 15px;
}

#displayname {
	width: 100%;
	font-size: 5vw;
	text-align: center;
	background-color: #FBC5D8;
	border-radius: 15px;
	padding: 15px 0px;
	line-height: 1.3em;
}

.info {
	border-radius: 15px;
	background-color: #FFEAF2;
	font-size: 24px;
	font-size: 3vw;
	text-align: center;
}

.tag {
	text-align: center;
	font-size: 2vw;
	line-height: 1em;
}

input {
	font-family: 'Ubuntu', sans-serif;
}

button {
	font-family: 'Ubuntu', sans-serif;
}

.r {
	text-align: right;
}

.blue {
	color: #000077;
}

.green {
    color: #007700;
}

.c {
	text-align: center;
}

.license div {
	line-height: 120px;
	//border: 1px solid black;
}

.license div img {
	vertical-align: middle;
}
